<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @task.body %>
</p>

<p>
  <b>Completed:</b>
  <%= @task.completed %>
</p>

<p>
  <b>Creator:</b>
  <%= @task.creator_id %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
